<mat-card>
  <mat-card-title>Cursos</mat-card-title>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="space-between">
      <mat-form-field>
        <mat-label>Nome do Curso</mat-label>
        <input matInput [(ngModel)]="courseName" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="courseTime" type="text">
        <mat-label>Duração do curso em meses</mat-label>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end end">
        <button mat-button color="primary" (click)="save()">Salvar</button>
        <button mat-button color="warn" (click)="cancel()">Cancelar</button>
      </div>
    </div>
    <h3 mat-subheader>Lista de Cursos</h3>
    <mat-list>
      <mat-list-item *ngFor="let course of allCourses">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{course.name}}</h4>
        <button mat-icon-button color="accent" (click)="delete(course)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary"  (click)="edit(course)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
